@font-face{
	font-family: 'Bellota-LightItalic';
	src:url('../Fonts/Bellota-LightItalic.otf');


		
}

@font-face{
	font-family: 'Bellota-BoldItalic';
	src:url('../Fonts/Bellota-BoldItalic.otf');

}

a{
	color:#ffb300;
}

body
{
	line-height: 17px;
	background-color: #e6eae8;
}


.top_bar
{
	width: 100%;
	min-width: 150px;
	height: 40px;
	background-color: #3498db;
	border-bottom: 0.25px solid #1894c2;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
}
.logo a
{
	font-family: 'Bellota-LightItalic' ,sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	text-decoration: none;
	top: 9px;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
	color: #1086BA;
}
a:hover
{
	text-decoration: none;
}
nav{
	float: right;
	right: 4px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover
{
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.wrapper
{
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;S
}


.column
{
	background-color: #fff;
	padding: 10px;
	border:1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #d3d3d3;
	z-index: -1;
}

.user_details
{
	width:250px;
	float: left;
	margin-bottom: 20px;
}


.user_details_left_right
{
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img{
	height: 125px;
	border-radius: 60px;
	margin-right: 5px;
}

.main_column
{
	float: right;
	width: 66%;
	z-index: -1;
	min-height: 170px;
}

.post_form{
	width: 100%;
}

.post_form textarea
{
	width: 80%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus
{
	outline: 0;
}

.post_form input[type="submit"]
{
	width: 10%;
	height: 40px;
	border:none;
	border-radius: 10px;
	background-color: #3448db;
	font-family: 'Bellota-LightItalic' ,sans-serif;
	color: ##3498db;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;


}

.post_form input[type="submit"]:active
{
	padding: 5px 4px 4px 5px;
}


.status_post
{
	width:96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic
{
	float: left;
    margin-right: 10px;
}

.post_profile_pic img
{
	border-radius: 25px;
}

#comment_iframe
{
	min-height: 250px;
	width :97%;
	padding: 2%;
	margin-top: 5px;
}
.comment_section
{
	padding: 0 5px 5px 5px;
}
.comment_section img
{
	border-radius: 10px;
	margin: 0px 3px 3px 3px;
}

#comment_form textarea
{
	border-color: #D3D3D3;
	width:85%;
	height: 35px;
	border-radius:  5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"]
{
	border:none;
	background-color: #20EA66;
	color:#156515;
	border-color: #D3D3D3;
	width:13%;
	height: 35px;
	border-radius:  5px;
	font-size: 14px;
	margin-top: 5px;
	position: absolute;
	font-family: 'Bellota-LightItalic' ,sans-serif;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.newsFeedPostOptions
{
	padding: 0px;
	text-decoration: none;
	color:#90add2;
	border:none;
}

.newsFeedPostOptions iframe
{
	border:0px;
	height: 17px;
	width: 30%;
}



.comment_like
{
	background-color: transparent;
	border:none;
	font-size: 14px;
	color: #3598db;
	padding-top: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value
{
	display: inline;
	font-size: 14px
}

.profile_left
{
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #37b0e9;
	border-right: 10px solid #83d6fd;
	color: #cbeaf8;
	margin-right: 20px; 
}
.profile_left img
{
	min-width: 80px;
	width: 63%;
	margin: 20px;
	border:5px solid #83d6fd;
	border-radius: 100px;
}

.profile_info
{
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}
.profile_info p
{
	margin: 0 0 0 20px;
	word-wrap: break-word;
}
.danger
{
	background-color: #e74c3c;
}
.warning
{
	background-color: #f0ad4b;
}
.default
{
	background-color: #ddc3c7;
}
.success
{
	background-color: #2ecc71;
}
.info
{
	background-color: #3498dd;
}

.deep_blue{
	background-color: #00d3f0;
}
.profile_left input[type="submit"]
{
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 4px 6px;
	border:none;
	color: #fff;
}
#accept_button
{
	width: 20%;
	height: 20px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #f1f1f1;
	    background-color: #3498dd;
}

#ignore_button
{
	width: 20%;
	height: 20px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #f1f1f1;
	background-color: #e74c3c;
}

.delete_button
{
	height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 15px;
    right: -15px;
    position: relative;
}


.profile_main_column
{
	min-width: 675px;
	float: left;
	width: 70px;
	z-index: -1;
}

.profile_info_bottom
{
	margin: 10 0 0 7px;
}

.profile_pic_button
{
	min-width: 80px;
	width: 100%;
	margin: 20px;
}

.profile_pic_button img
{
	width: 80%;
	margin-left: -2px
}

.profile_pic_button button
{
	position: relative;
    width: 63%;
    left: 12px;
    bottom: 64px;
    border-radius: 20px 20px 45px 45px;
    background: #f6eeee61;
    color: royalblue;
}



#message_textarea
{
	width:80%;
	margin-right: 8px;
}

#message_submit
{
	height: 50px;
	width: 120px;
	margin:0px;
	position: absolute;
	border:none;
	background-color: #20EA66;
	color:#156515;
	border-color: #D3D3D3;
	width:13%;
	height: 35px;
	border-radius:  5px;
	font-size: 14px;
	font-family: 'Bellota-LightItalic' ,sans-serif;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.message
{
	border:1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}


.message#blue{
	background-color: #2c82c9;
	border-color: #2c82c9;
	float: right;
	margin-bottom: 2px;
	
}
.message#green{
	background-color: #66cc99;
	border-color: #1e824c;
	float: left;
	
}

.loading_messages
{

	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}




.loading_conversation
{
	
	max-height: 300px;
	overflow: scroll;
}

#conversation{
	width: 300px;
}

.user_found_messages
{
	border-bottom: 1px solid #d3d3d3;
	padding: 8px 8px 10px 8px;
}


.user_found_messages:hover
{
	color: #d3d3d3;
}


.user_found_messages img
{
	height: 35;
	float: left;
	border-radius: 25px;
}

#gray{
	color:#8c8c8c;
}


.resultDisplay{

padding: 5px 5px 0 5px;
height: 60px;
border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
	float: none;
}

.resultDisplay:hover{
	background-color: #ebebeb;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText{
	color: #1e54aa;
	background-color: transparent;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
	color:  #cc3b1e;
}


.convImage {
	height: 50px;
}
.convImage img{
	float: right;
}
.convImage a{
	float: right;
}

.convImage img
{
	height: 40px;
	border-radius: 20px;
}





